<% include header %>
<div class="ui top stackable attached menu">
  <!--<div class="item">-->
  <!--<img src="/images/logo.png">-->
  <!--</div>-->
  <a class="item">Features</a>
  <a class="item">Testimonials</a>
  <a class="item">Sign-in</a>

  <div class="right menu">
    <a class="item">Sign Up</a>
    <a class="item">Help</a>
  </div>
</div>


<div class="ui stackable centered padded grid">

  <div class="column three wide">
    <div class="ui segment">
      <div class="ui medium header">Breaking in SA</div>
      <div class="ui divided items">
        <% for(var i=0; i < 4; i++) { %>
        <div class="item">

          <div class="content">
            <a class="ui tiny header" href="<%= headlines_South_Africa[i].link %>" target="_blank"><%= headlines_South_Africa[i].headline %></a>

            <div class="meta">
              <span class="author"><%= headlines_South_Africa[i].org %></span>
            </div>
          </div>
        </div>
        <% } %>

      </div>
    </div>
    <div class="ui segment">
      <div class="ui medium header">Breaking Internationally</div>
      <div class="ui divided items">
        <% for(var i=0; i < 4; i++) { %>
        <div class="item">

          <div class="content">
            <a class="ui tiny header" href="<%= headlines_World[i].link %>" target="_blank"><%= headlines_World[i].headline %></a>

            <div class="meta">
              <span class="author"><%= headlines_World[i].org %></span>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>

    <div class="ui segment">
      <div class="ui medium header">Newspaper Front Pages</div>
      <div class="ui divided items">
        <div class="item">

          <div class="content">
            <a class="ui tiny header">Article</a>

            <div class="meta">
              <span class="author">By <a>author</a></span>
            </div>
          </div>
        </div>
        <div class="item">

          <div class="middle aligned content">
            Content B
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="column three wide">
    <div class="ui centered card">
      <div class="image">
        <img src="https://www.azom.com/images/news/NewsThumbImage_48562.jpg">
      </div>
    </div>

    <div class="ui one cards">
      <% headlines_South_Africa.forEach(function(article) { %>



      <div class="ui blue card">
        <span class="ui right corner label">
          <i class="comments icon"></i>
        </span>
        <div class="content">
          <a class="ui small header" href="<%= article.link %>" target="_blank"><%= article.headline %></a>
          <div class="meta">
                  <span class="author">
                    <%= article.org %>
                  </span>
          </div>
          <div class="description">
            <p></p>
          </div>
        </div>
        <div class="extra content">
          <span class="right floated"><%= article.timeAgo %></span>
                <span>
                  <a data-sharer="email" data-title="Awesome" data-url="<%= article.link %>" data-subject="hi" data-to="rob.gordon.anderson@gmail.com">
                    <i class="envelope icon"></i>
                  </a>
                </span>
                <span>
                  <a data-sharer="twitter" data-title="<%= article.headline %>" data-hashtags="AllReport" data-url="<%= article.link %>">
                    <i class="twitter icon"></i>
                  </a>
                </span>
                <span>
                  <a data-sharer="facebook" data-url="<%= article.link %>">
                    <i class="facebook icon"></i>
                  </a>
                </span>
                <span>
                  <a data-sharer="googleplus" data-url="<%= article.link %>">
                    <i class="google plus square icon "></i>
                  </a>
                </span>
        </div>
      </div>
      <% }); %>

    </div>
  </div>





  <div class="column three wide">
    <div class="ui centered card">
      <div class="image">
        <img src="https://www.azom.com/images/news/NewsThumbImage_48562.jpg">
      </div>
    </div>

    <div class="ui one cards">
      <% headlines_World.forEach(function(article) { %>



      <div class="ui blue card">
        <span class="ui right corner label">
          <i class="comments icon"></i>
        </span>
              <div class="content">
                <a class="ui small header" href="<%= article.link %>" target="_blank"><%= article.headline %></a>
                <div class="meta">
                  <span class="author">
                    <%= article.org %>
                  </span>
                  </div>
                <div class="description">
                  <p></p>
                </div>
              </div>
              <div class="extra content">
                <span class="right floated"><%= article.timeAgo %></span>
                <span>
                  <a data-sharer="email" data-title="Awesome" data-url="<%= article.link %>" data-subject="hi" data-to="rob.gordon.anderson@gmail.com">
                    <i class="envelope icon"></i>
                  </a>
                </span>
                <span>
                  <a data-sharer="twitter" data-title="<%= article.headline %>" data-hashtags="AllReport" data-url="<%= article.link %>">
                    <i class="twitter icon"></i>
                  </a>
                </span>
                <span>
                  <a data-sharer="facebook" data-url="<%= article.link %>">
                    <i class="facebook icon"></i>
                  </a>
                </span>
                <span>
                  <a data-sharer="googleplus" data-url="<%= article.link %>">
                    <i class="google plus square icon "></i>
                  </a>
                </span>
              </div>
      </div>
      <% }); %>

    </div>
  </div>


  <div class="column three wide">
    <div class="ui segment">
      <div class="ui medium header">Opinion & Commentary</div>
      <div class="ui divided items">
        <% for(var i=0; i < 4; i++) { %>

        <div class="item">

          <div class="content">
            <a class="ui tiny header" href="<%= opinions[i].link %>" target="_blank"><%= opinions[i].headline %></a>

            <div class="meta">
              <span class="author"><%= opinions[i].org %></span>
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui medium header">New Media</div>
      <div class="ui divided items">
        <div class="item">
          <div class="content">
            <a class="ui tiny header">Article</a>

            <div class="meta">
              <span class="author">By <a>author</a></span>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="middle aligned content">
            Content B
          </div>
        </div>
      </div>
    </div>
    <div class="ui segment">
      <div class="ui medium header">Fact Check</div>
      <div class="ui divided items">
        <% for(var i=0; i < 4; i++) { %>

        <div class="item">

          <div class="content">
            <a class="ui tiny header" href="<%= factCheck_South_Africa[i].link %>" target="_blank"><%= factCheck_South_Africa[i].headline %></a>

            <div class="meta">
              <span class="author"><%= factCheck_South_Africa[i].org %></span>
            </div>
          </div>
        </div>

        <% } %>
      </div>
    </div>
  </div>


</div>


<% include footer %>
